<!DOCTYPE html>
<html lang="en">
<head>
    <title><%= title %></title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
  <body background="/images/fundo.jpg"/>
<div class="container">
<center>
    <h1>
      <font color="yellow"> Bem vindo </font>
    </h1>
      <a href="/signup" class="btn btn-default" role="button">Sign up</a>
</center>
    <h2>
      <font color="yellow"> Sign in </font>
    </h2>
    <div>
        <form action="/routes/index">
            <div class="form-group">
              <label for="email"><font color="yellow"> Email </font>:</label>
              <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
            </div>
  </div>
<div class="form-group">
    <label for="pwd"><font color="yellow"> Password </font>:</label>
    <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pwd">
</div>
      <div class="checkbox">
        <label><input type="checkbox" name="remember"><font color="yellow"> Remember me </font></label>
      </div>
        <div>
          <form action="/logged">
            <a href="/logged" class="btn btn-default" role="button">Entrar</a>
          </form>
        </div>
</form>
</div>
</body>
</html>
