<!DOCTYPE html>
 <html>
 <head>
 <title>CURRICULUM</title>
        <h2>
        <font color=Yellow > Sobre Henzel</h2>
          <font color=Yellow >Nome :Henzel Almeida dos santos<br>ºRua Boa Vista,Itapuan,BA<br>ºgraduando em engenharia da computação UNIFCAS-SALVADOR<br>º2 diplomas em Ingles Avançado<br>ºConhecimento Intermediário nas linguagens : c/c++/Python<br>ºBase sólida nas aplicações da ADOBE<br>ºCertificado em RasberryPI<br>ºEsforçado porém muito desanimado por não ter terminado esse site como deveria<br>Faço um café Explendido. </h2>
            <p></p>
        <h3>Contato: wpp (71)992691381</h3>
 </head>
<body background="/images/fundo.jpg"/
 </body>
 </html>
