<!DOCTYPE html>
<html lang="en">
<head>

    <title><%= title %></title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<body background="/images/fundo.jpg"/>
<div class="container">
  <center>
  <h1><font color="yellow"> Cadastre-se </font></h1>
  </center>
    <div class="form-group">
        <label for="email"><font color="yellow"> Email </font></h1>:</label>
        <input type="email" class="form-control" id="email" placeholder="" name="email">
        <label for="email"><font color="yellow"> Confirmar email </font>:</label>
        <input type="email" class="form-control" id="email" placeholder="" name="email">
    </div>
    <div class="form-group">
        <label for="pwd"><font color="yellow"> Senha </font>:</label>
        <input type="password" class="form-control" id="pwd" placeholder="" name="pwd">
        <label for="pwd"><font color="yellow"> Confirmar senha </font>:</label>
        <input type="password" class="form-control" id="pwd" placeholder="" name="pwd">
    </div>
    <div>
        <form action="/">
          <button type="submit" class="btn btn-default">Confirmar</button>
        </form>
  </div>
</div>
</body>
</html>
